/* ----------------------------------- Colors ----------------------------------- */
$colormain-first: #362e2b;
$colormain-sec: #202020;

$textcolor: #e7e7e7;
$textinactive: #a1a1a1;

$bordercolor: #aaa;

/* ---------------------------------- Container ---------------------------------- */

$container: 1500px;

.container {
  max-width: $container;
  margin: 0 auto;
  position: relative;
}