@import "../vars.scss";

$header-height: 70px;

header.header {
  //height: $header-height;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: $colormain-first;
  z-index: 9999;

  .header_wrapper {
    margin: 0 20px;

    .header_nav {
      display: flex;
      align-items: center;

      a.link-to {
        padding: 10px 15px;
        filter: brightness(0.6);
        transition: all 0.3s ease-in-out;
        text-decoration: none;

        &:hover {
          filter: brightness(1) !important;
        }

        img,svg {
          height: $header-height;
          image-rendering: crisp-edges;
        }

        p.link-name {
          text-align: center;
          color: $textcolor;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }

  .current-page {
    filter: brightness(1) !important;
    background-color: #fff !important;

    p.link-name {
      color: $colormain-sec !important;
    }
  }
}